.profile__add {
  margin-left: auto;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #FFF;
  border-radius: 2px;
  background: url(../../../images/button-add.svg) no-repeat center;
  background-size: 22px 22px;
  cursor: pointer;
}

.profile__add:hover {
  opacity: .6;
}

.profile__add:focus {
  outline: none;
}

@media (max-width: 960px) {
  .profile__add {
  margin: 36px 0 0 0;
  min-width: 282px;
  min-height: 52px;
  }
}
