.header__link {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    text-decoration: none;
    color: #fff;
}

.header__link:hover {
    opacity: .6;
    transition: opacity .3s ease-in-out;
}

@media (max-width: 960px) {
    .header__link {
        margin-right: 20px;
    }
}