.popup__input {
  min-width: 358px;
  min-height: 14px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 auto;
  padding: 0 0 13px 0;
}

.popup__input::placeholder {
  color: #c4c4c4;
}

@media (max-width: 550px) {
  .popup__input {
    width: 80%;
    min-width: 220px;
    padding: 0 0 8px 0;
  }
}
