.header {
  width: 68.90625%;
  max-width: 882px;
  min-height: 119px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .3);
  background-image: url(../../images/Logo.svg);
  background-repeat: no-repeat;
  background-position: 0 45px;
  background-size: 142.01px 33.4px;
  flex-shrink: 0;
}

@media (max-width: 960px) {
  .header {
    min-width: 100%;
    min-height: 84px;
    background-position: 27px 28px;
    background-size: 103.74px 24.4px;
  }
}
