@import url(./__profile/content__profile.css);

.content {
    width: 68.90625%;
    max-width: 882px;
    margin: 0 auto;
    flex-shrink: 0;
}

@media (max-width: 450px) {
    .content {
        min-width: 90%;
    }
}
