@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__save/popup__save.css);
@import url(./__close/popup__close.css);
@import url(./__view/popup__view.css);
@import url(./__img/popup__img.css);
@import url(./__description/popup__description.css);
@import url(./__position/popup__position.css);
@import url(./__input/_type/popup__input_type_error.css);
@import url(./__input-error/popup__input-error.css);
@import url(./__input-error/_active/popup__input-error_active.css);
@import url(./__save/_inactive/popup__save_inactive.css);
@import url(__container/_size/popup__container_size_delete.css);
@import url(./__container/_size/popup__container_size_avatar.css);
@import url(./__title/_position/popup__title_position.css);


.popup {
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity .3s ease-in-out, visibility .3s;
  -webkit-transition: opacity .3s ease-in-out, visibility 0s;
}
